@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;

    --color-base-black: black;
    --color-base-white: white;

    --color-01: rgba(187, 153, 221, 0.08);
    --color-02: #BB99DD;
    --color-03: rgba(171, 144, 199, 0.08);
}

body, a {
    color: var(--color-02);
    text-decoration: none;
}

.content {
    text-align: center;

    padding: 12rem 4.4rem 15rem;
    width: 100%;
}

.profile img {
    width: 21.3rem;
    border: 0.2rem solid var(--color-02);
    border-radius: 50%;
    padding: 0.5rem;

    transition:200ms ease-out;
}

.profile img:hover {
    filter: brightness(0.7);
    cursor: pointer;
}

.profile p {
    font-size: 1.6rem;
    font-weight: 300;
    
    margin-top: 1.5rem;
    margin-bottom: 3.3rem;
}

ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.6rem;

    list-style: none;
    margin-top: 3.3rem;
}

li {
    font-size: 1.6rem;
    font-weight: 600;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 32.6rem;
    height: 4.9rem;
    border: 0.2rem solid var(--color-02);
    border-radius: 0.4rem;

    transition: all 200ms ease-out;
}

li:hover {
    background: var(--color-03);
}

.icons {
    display: flex;
    justify-content: center;
    gap: 2.9rem;

    margin-top: 6.8rem;
}

.icons a:hover {
    transform: scale(1.1);
}