@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    font-family: 'Merriweather Sans', sans-serif;

    --color-base-black: black;
    --color-base-white: white;

    --color-01: #302F3D;
    --color-02: #837E9F;
    --color-03: #CB92B1;
    --color-04: #E7DE79;
    --color-05: #00FF00;
    --color-bg: #22212C;
}

body {
    color: var(--color-02);
    background-color: var(--color-bg);

    display: grid;
    justify-content: center;
    padding: 4rem 4rem 0rem 4rem;
}

#app {
    border: 2px solid red;

    display: grid;
    grid-template-columns: 35rem 95.2rem;
}

.column {
    margin-right: 6rem;
}

aside {
    background: var(--color-01);
    
    border-radius: 2rem;
    margin-bottom: 3rem;
    border: solid 2px black;
    padding: 3rem;
}

.folders {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.card {
    
}

footer {
    text-align: center;
    margin-top: -2rem;
}