@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    font-family: 'Merriweather Sans', sans-serif;

    --color-base-black: black;
    --color-base-white: white;

    --color-01: #302F3D;
    --color-02: #837E9F;
    --color-03: #CB92B1;
    --color-04: #E7DE79;
    --color-05: #00FF00;
    --color-bg: #22212C;
}